@import "../../variables.scss";
.signup-border {
  background-image: url("../../pics/coursezzz\ \(1\).png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.formsu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $form-font;
  text-decoration: none;
  font-weight: 900;
  border: 1px solid black;
  width: 27vw;
  border: 2px solid $font-color;
  border-radius: 5px;
  height: 57vh;
  opacity: 0.7;
  font-size: 15px;
}
@media only screen and (max-width: 800px) {
  .formsu {
    height: 60%;
    width: 50%;
    align-content: center;
  }
  .formsu input {
    margin-top: 6%;
    // border: 1px solid blue;
  }
}

.logo {
  width: 11vw;
  display: flex;
}
.logo-log {
  width: 100px;
  height: 100px;
  margin-left: 1vw;
  margin-top: 1vh;
  padding-bottom: 2vh;
}
.button-sign-up {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 3vh;
}
@media only screen and (max-width: 800px) {
  .button-sign-up {
    height: 75%;
    width: 50%;
    align-content: center;
  }
}

form {
  width: 16vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.profile-pic-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}
