@import "../../variables.scss";

.border-upgrade {
  background: url("../../pics/bg3\ \(1\).png");
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.upgrade {
  font-family: $font-family;
  font-size: 30px;
  margin-top: 17vh;
  border: 5px solid $font-color;
  border-radius: 5px;
  width: 35vw;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 45vh;
  align-items: center;
  padding: 10px;
  opacity: 0.7;
}
.upg {
  display: none;
}
