@import "../../variables.scss";

.protected-profile {
  padding-top: 20vh;
  height: 120vh;
  width: 100vw;
  background: url("../../pics/bg5.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  color: #fee715;
  transition: none;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -10;
}

.protected-pp {
  text-decoration: none;
  font-size: 55px;
  color: #fee715;
}

.home-pp {
  display: flex;
  font-size: 32px;
  justify-content: center;
  width: 100vw;
  align-items: center;
  padding-top: 3vw;
  color: #fee715;
  background: #006b54;
  height: 3vh;
  border-top: solid 6px yellow;
  border-bottom: solid 6px yellow;
  margin-bottom: 1vh;
  padding-bottom: 2vh;
}
.home-pp {
  margin-top: 1vh;
  width: 110vw;
}
@media only screen and (max-width: 800px) {
  .home-pp {
    margin-top: 25vh;
  }
}

.home-posted-by-home {
  display: flex;
  margin-top: 15px;
  padding-top: 2vw;
  border: 1px solid black;
  flex-direction: column;
  width: 15vw;
  flex-wrap: wrap;
}
.profile-link-home {
  // color: $color;
  font-size: 24px;
  text-decoration: underline;
  z-index: 2;
}

.pp {
  border-radius: 50%;
  border: 3px solid #fee715a8;
  width: 50px;
  height: 50px;
  margin-left: 1vw;
  margin-top: -30px;
}
//LEAVE THIS ALONE
@media only screen and (max-width: 800px) {
  .pp {
    margin-top: 0.5vh;
    height: 30px;
    width: 30px;
    margin-left: 4vw;
  }
}

.home-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 8vw;
  font-size: 20px;
  // margin-left: 3vw;
  border: 1px solid black;
  justify-content: space-between;
  margin-bottom: 3vh;
  align-items: baseline;
}
.home-heart {
  display: flex;
  align-items: center;
  background: transparent;
  background: none;
  flex-direction: row;
  width: 10vw;
  font-size: 15px;
  border: 1px solid black;
}

.like-number {
  margin-bottom: 1vh;
}
.comment-link {
  // margin-left: 3vw;
  width: 2vw;
  font-size: 10px;
  text-decoration: none;
  // border: 2px solid green;
}

.post-comment-number {
  // margin-left: 1vw;
  margin-bottom: 1vh;
}

.comment-caption {
  font-weight: 900;
  font-size: 25px;
  // border: 2px $border solid;
  width: 26vw;
  height: 6vh;
  text-align: center;
  margin-top: 1vh;
}
@media only screen and (max-width: 800px) {
  .comment-caption {
    display: flex;
    width: 32.7vh;
    justify-content: center;
    margin-top: 2vh;
    // text-align: center;
  }
}

.lineup {
  display: flex;
  justify-content: center;
  width: 20vw;
  align-items: center;
}

.recent-posts {
  margin-top: 55vh;
  margin-bottom: 1vh;
  align-items: center;
  width: 100vw;
  display: flex;
  //   border: 1px;
  //   border: #006b54 solid 1px;
  justify-content: center;

  color: #fee715;
  background: #006b54;
  height: 4vh;
  padding-top: 3vh;
  align-content: center;
  padding-bottom: 3vh;
  font-size: 42px;
  //   border: 3px #fee715;
  border-bottom: 6px solid #fee715;
  border-top: 6px solid #fee715;
}
@media only screen and (max-width: 800px) {
  .recent-posts {
    // border: 10px solid blue;
    // text-align: center;
  }
}
.add-form {
  width: 35vw;
  height: 40vh;
  display: flex;
  background: whitesmoke;
  margin-top: 25vh;

  justify-content: space-around;
  padding: 2%;
  font-size: 28px;
  border: 3px solid #006b54;
  border-radius: 5px;
  font-weight: 700;
  opacity: 0.8;
  label {
    padding-bottom: 3%;
    padding-top: 2%;
  }
  .input-add {
    padding-top: 2%;
  }
  .input-home {
    padding-top: 2%;
    margin-left: 17%;
  }
}
//LEAVE THIS ALONE
@media only screen and (max-width: 800px) {
  .add-form {
    height: 45%;
    width: 45%;
    font-size: 20px;
    margin-top: 27vh;
    display: flex;
    justify-content: center;
  }
  label {
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 7%;
  }
}
@media only screen and (max-width: 800px) {
  .add-form input {
    height: 10%;
    width: 80%;
  }
}

.add-home {
  display: flex;
  justify-content: center;
}
.buttonsu-home {
  color: #fee715;
  background-color: yellow;
  margin-bottom: 2vh;

  color: #1d006b;
  text-decoration: none;
  margin-top: 1.5vh;
  // border: 2px solid #006b54;
  height: 70px;
  width: 110px;
  font-size: 25px;
  font-weight: 500;
}
//LEAVE THIS ALONE
@media only screen and (max-width: 800px) {
  .buttonsu-home {
    height: 15%;
    width: 60%;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
  }
}

.secondPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // height: 100vh;
  width: 90vw;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  .secondPage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // height: 150vh;
    // border: 10px solid blue;
  }
}

//
.name-pic {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-left: 30%;
}

.pp-home {
  border: 5px saddlebrown solid;
}
.delete-link {
  // margin-left: 3vw;
  display: none;
  margin-top: 0;
}

.baby-boss {
  margin-bottom: 0vh;
  display: flex;
  margin-right: 2vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .baby-boss {
    display: flex;
    margin-top: -25%;
  }
}
@media only screen and (max-width: 800px) {
  .baby-boss h2 {
    display: flex;
    margin-top: 8%;
  }
}

.bosses {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .bosses {
    display: flex;
    flex-direction: column;
  }
}

.comment-number {
  border: 1px solid blue;
  margin-left: 8vw;
  width: 9vw;
}

.profile-pp {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.posts {
  max-height: 30vh;
  max-width: 30vh;
  border: 5px solid $border;
  justify-content: center;
  align-items: center;
  margin-left: 7%;
}
@media only screen and (max-width: 800px) {
  .posts {
    display: flex;
    justify-content: center;
    margin-left: 3%;
  }
}
//

.bigger-papa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
  width: 90vw;
  padding: 50px;
  height: 100vh;
}

.papa {
  border-radius: 5px;
  border: 5px solid $border;
  width: 17vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 45px;
  height: 55vh;
  padding-bottom: 8vh;
  background: whitesmoke;
  // text-align: center;
}
@media only screen and (max-width: 800px) {
  .papa {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30vh;
    // margin-top: -640px;
    // margin-left: 20vw;
    // margin-bottom: -200px;
    // margin-top: -400px;
    // height: 60vh;
    // position: absolute;
    // top: 110%;
    // z-index: 4;
  }
}

.baby-boss {
  margin-bottom: 0vh;
  display: flex;
  margin-right: 2vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// @media only screen and (max-width: 800px) {
//   .baby-boss {
//     display: flex;
//     flex-direction: column;
//   }
// }

//

.big-boss {
  // border: 2px solid red;
  height: 32vh;
}

.comment-link {
  // border: 2px solid red;
  font-size: 20px;
}

.like-number {
  // border: 2px solid pink;
  font-size: 35px;
  font-weight: bolder;
}
// @media only screen and (max-width: 800px) {
//   .like-number {
//     display: flex;
//     margin-left: -2%;
//   }
// }

.likes-mobile {
  // border: 2px solid pink;
  font-size: 20px;
  margin-left: -2vw;
}
@media only screen and (max-width: 800px) {
  .likes-mobile {
    display: flex;
    margin-left: -10%;
  }
}

.comment-mobile-number {
  font-size: 20px;
  margin-left: -15px;
}
@media only screen and (max-width: 800px) {
  .comment-mobile-number {
    display: flex;
    margin-left: 2%;
  }
}

.comment-link-mobile {
}

.papa-buttons {
  display: flex;
  flex-direction: row;
  width: 20vw;
  align-items: center;
  margin-top: 10px;
  justify-content: space-around;
}
@media only screen and (max-width: 800px) {
  .papa-buttons {
    display: flex;
    width: 30vh;
    padding-top: 5%;
  }
}

//

.buttons-home-mobile {
}

.image-post {
  justify-content: center;
  display: flex;
  width: 110vw;
}

.bottom-border {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  // border: 10px solid blue;
}

.middle-background {
  background: url("../../pics/course-2.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // position: absolute;
  // top: 0px;
  // left: 0px;
  // width: 100%;
  // z-index: -10;
}

@media only screen and (max-width: 800px) {
  .middle-background {
    // background: url("../../pics/course-2.png");
    // display: flex;
  }
}
.background-home {
  background: white;
  margin-top: -60px;
}
