@import "../../variables.scss";

.contact-background {
  background: url("../../pics/bg6.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.upgrade-title {
  color: $yellow-font;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 29%;
  margin-top: 0;
}
.contact-form {
  margin-top: 25vh;
  border: 5px solid $font-color;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.7;
  width: 35vw;
}

.contact-form-submit-button {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 10px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 2vh;
}
.input-contact {
  width: 43%;
}
