.protected-profile {
  padding-top: 20vh;
  height: 100vh;
  width: 100vw;
  background: url("../pics/bg5.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  color: #fee715;
  transition: none;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.protected-pp {
  text-decoration: none;
  font-size: 55px;
  color: #fee715;
}

.home-pp {
  display: flex;
  font-size: 32px;
  justify-content: center;
  width: 100vw;
  align-items: center;
  padding-top: 5vw;
  color: #fee715;
  background: #006b54;
  height: 9vh;
  border-top: solid 6px yellow;
  border-bottom: solid 6px yellow;
}

.home-posted-by-home {
  display: flex;
  margin-top: 15px;
  padding-top: 2vw;
  border: 1px solid black;
  flex-direction: column;
  width: 15vw;
  flex-wrap: wrap;
}
.profile-link-home {
  // color: $color;
  font-size: 24px;
  text-decoration: underline;
  z-index: 2;
}

.pp {
  border-radius: 50%;
  border: 3px solid #fee715a8;
  width: 50px;
  height: 50px;
  margin-left: 1vw;
}
.posts {
  max-height: 224px;
  max-width: 380px;
  // border: 4px solid $font-color;
  // margin-bottom: 0;
  // margin-top: 0;
  // margin-left: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 8vw;
  font-size: 20px;
  // margin-left: 3vw;
  border: 1px solid black;
  justify-content: space-between;
  margin-bottom: 3vh;
  align-items: baseline;
}
.home-heart {
  display: flex;
  align-items: center;
  background: transparent;
  background: none;
  flex-direction: row;
  width: 10vw;
  font-size: 15px;
  border: 1px solid black;
}

.like-number {
  margin-bottom: 1vh;
}
.comment-link {
  // margin-left: 3vw;
  width: 4vw;
  font-size: 17px;
  text-decoration: none;
  // border: 2px solid green;
}

.post-comment-number {
  // margin-left: 1vw;
  margin-bottom: 1vh;
}
// .post-comment-number {
//   margin-left: 1vw;
//   margin-bottom: 1vh;
// }
.caption {
  font-weight: 900;
  font-size: 17px;
  // margin-bottom: 1vh;
  // padding-bottom: 0vh;

  // margin-right: 14vw;
}

.lineup {
  display: flex;
  justify-content: center;
  width: 20vw;
  align-items: center;
}

.home-page {
  border: 6px red;
}
.recent-posts {
  margin-top: 20vh;
  margin-bottom: 1vh;
  align-items: center;
  width: 100vw;
  display: flex;
  //   border: 1px;
  //   border: #006b54 solid 1px;
  justify-content: center;

  color: #fee715;
  background: #006b54;
  height: 4vh;
  padding-top: 3vh;
  align-content: center;
  padding-bottom: 3vh;
  font-size: 42px;
  //   border: 3px #fee715;
  border-bottom: 3px solid #fee715;
  border-top: 3px solid #fee715;
}

.add {
}
.background {
  background: url("../pics/gc\ \(1\).png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: none;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.post-memory {
}
// .add-form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-decoration: none;
//   font-weight: 900;
// }
.add-form {
  width: 25vw;
  display: flex;
  background: whitesmoke;
  margin-top: 12vh;
  justify-content: center;
  margin-bottom: 4vh;
  border-radius: 5px;
  font-size: 28px;
  border: 3px solid #006b54;
  border-radius: 5px;
  height: 55vh;
  font-weight: 700;
  opacity: 0.6;
}
.add-home {
  display: flex;
  justify-content: center;
}
.buttonsu-home {
  color: #fee715;
  background-color: yellow;

  color: #006b54;
  text-decoration: none;
  margin-top: 1.5vh;
  border: 2px solid #006b54;
  height: 70px;
  width: 110px;
  font-size: 30px;
  font-weight: 500;
}
.papa {
  border-radius: 5px;
  border: 5px solid #006b54b0;
  width: 17vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 45px;
  height: 45vh;
  padding-bottom: 8vh;
  background: whitesmoke;
  // text-align: center;
}
.big-papa {
}

.bigger-papa {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   align-items: center;
  //   align-content: center;
  //   justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
  width: 90vw;
  padding: 50px;
  // margin-left: 5vh;
  // border: 10px solid blue;
  height: 100vh;
  // background: url("../pics/bg3\ \(1\).png");
  //   background: blue;
}
.name-pic {
  border: 1px solid red;
  display: flex;
  margin-top: 1vh;
}

.pp-home {
  border: 5px saddlebrown solid;
}
.delete-link {
  // margin-left: 3vw;
  display: none;
  margin-top: 0;
}
.home-delete {
  // margin-top: 0;
  // // margin-left: 3vw;
  // font-size: 10px;
  // height: 6vh;
  // border: 2px solid red;
}
.papa-buttons {
  display: flex;
  flex-direction: row;
  width: 20vw;
  // margin-right: 5vw;
  align-items: center;
  margin-top: 0;
  // border: 5px solid red;
  justify-content: space-around;
  // height: 1vh;
}

.big-boss {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // border: 11px solid green;
}
.baby-boss {
  margin-bottom: 0vh;
  display: flex;
  margin-right: 2vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bosses {
  // margin-left: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.papa-buttons h1,
.papa-buttons h6 {
  margin: 0;
  font-size: 20px;
}

.comment-link h1 {
  margin: 0;
  font-size: 22px;
  margin-left: 3vw;
}

.comment-number {
  border: 1px solid blue;
  margin-left: 8vw;
  width: 9vw;
}

.papa-buttons h4 {
  margin-right: 4vw;
  height: 10px;
  font-size: 17px;
  // border: 3px solid yellow;
}

.profile-pp {
  width: 100vw;
  display: flex;
  justify-content: center;
}
