@import "../../variables.scss";

.search-feature {
  display: flex;
  width: 100vw;
  height: 7vh;
  align-items: center;
  flex-direction: column;
  padding-top: 15vw;
}
@media only screen and (max-width: 800px) {
  .search-feature {
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    margin-top: 30vh;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-left: 60px;
    border: 5px solid $border;
    background: whitesmoke;
    opacity: 0.7;
  }
}
.search-input {
  width: 13vw;
  border-radius: 10px;
  border: 6px solid $font-color;
  outline: none;
}
@media only screen and (max-width: 800px) {
  .search-input {
    width: 57vw;
  }
}
.button-search {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1vh;
  outline: none;
}

@media only screen and (max-width: 800px) {
  .button-search {
    width: 20vw;
    height: 4vh;
    margin-left: 2vw;
    margin-bottom: 1vh;
  }
}
.search-results {
  align-content: center;
  display: flex;
  justify-content: center;
}

.search-background {
  background: url("../../pics/goplay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.find {
  margin-top: 10vh;
  border: 2px solid $yellow-font;
  background: $color;
  color: $yellow-font;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .find {
    margin-top: 18vh;
  }
}

.course-banner {
  border: 3px solid $yellow-font;
  background: $color;
  text-align: center;
  color: $yellow-font;
  width: 100%;
  margin-top: -250px;
}

@media only screen and (max-width: 800px) {
  .course-banner {
    margin-top: -440px;
    // margin-left: 2vw;
    width: 100vw;
  }
}
body {
  // background: blue;
  // display: flex;
  // justify-content: center;
}
.course-list {
  background: whitesmoke;
  text-align: center;
  width: 35vw;
  justify-content: center;
  margin-left: 33vw;
  border: 5px solid $border;
  border-radius: 5px;
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .course-list {
    margin-top: -10px;
    width: 70vw;
    height: 50vh;
    margin-left: 18vw;
    font-size: 10px;
  }
}
.course-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("../../pics/goplay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150%;
  z-index: -10;
}
