@import "../../variables.scss";

.search-feature {
  display: flex;
  width: 100vw;
  height: 7vh;
  align-items: center;
  flex-direction: column;
  padding-top: 15vw;
}
.search-input {
  width: 13vw;
  border-radius: 10px;
  border: 6px solid $font-color;
  outline: none;
}
.button-search {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1vh;
  outline: none;
}
.search-results {
  align-content: center;
  display: flex;
  justify-content: center;
}
