@import "../../variables.scss";

.post-comment-button {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
}

.post-comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-top: 7vh;
  width: 20vw;
  margin-left: 33vw;
  padding-top: 8vh;
}
.post-author {
  text-decoration: underline;
  font-weight: bolder;
}
.post-content {
  margin-left: 1vw;
  display: flex;
  flex-wrap: wrap;
  // text-orientation: upright;
  // width: 100vw;
  // line-height: 1em;
  // height: 3em;
  // text-overflow: ellipsis;
  // float: left;
  // word-wrap: initial;
  // trying to get the words to flow on one line first before going down
}
.post-heart {
  margin-left: 9vw;
}

.post-page-lineup {
  display: flex;

  flex-direction: row;
}
.post-comment {
  margin-left: 1vw;
}
.post-comment-number {
  margin-left: 1vw;
  margin-bottom: 1vh;
}
.post-emoji {
  width: 30vw;
  display: flex;
  flex-direction: row;
  border: #000000 10px;
  align-items: flex-start;
  margin-bottom: 2vh;
}

.post-page {
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
  padding-top: 15vh;
}
.post-lineup {
  display: flex;
  flex-direction: column;
}
.post-pic {
  display: flex;
  align-items: center;
}

.post-lineup img {
  border: 4px solid $color;
}
.post-top {
  display: flex;
  height: 5vh;
  align-items: center;
  padding-top: 20px;
  // border: 5px solid orange;
}
