@import "../../variables.scss";
body {
  //background: orange;
  zoom: 1;
}

.post-comment-button {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
}

.post-comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-top: 7vh;
  width: 40vw;
  // margin-left: 35vw;
  margin-top: 20%;
  border: 1vw solid #196b00;
  background: white;
  text-align: center;

  margin-top: 1vh;
}
.post-author {
  text-decoration: underline;
  font-weight: bolder;
}
.post-content {
  margin-left: 1vw;
  display: flex;
  flex-wrap: wrap;
  // text-orientation: upright;
  // width: 100vw;
  // line-height: 1em;
  // height: 3em;
  // text-overflow: ellipsis;
  // float: left;
  // word-wrap: initial;
  // trying to get the words to flow on one line first before going down
}
.post-heart {
  margin-left: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-page-lineup {
  display: flex;

  flex-direction: row;
}
.post-comment {
  margin-left: 2vw;
  display: flex;
  justify-content: center;
}
.post-comment-number {
  margin-left: 1vw;
  margin-bottom: 1vh;
  font-size: 20px;
  margin-left: px;
}
.post-emoji {
  width: 20vw;
  display: flex;
  flex-direction: row;
  // border: #000000 10px;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: space-between;
  margin-left: 3vw;
  margin-top: -10px;
}

@media only screen and (max-width: 800px) {
  .post-emoji {
    display: flex;
    margin-left: -20px;
    justify-content: space-between;
    width: 20vw;
  }
}

.post-page {
  display: flex;
  justify-content: center;
  // height: 23vh;
  align-items: center;
  // padding-top: 63%;
  // margin-top: 25%;
  background: url();
}
.post-lineup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
.post-pic {
  display: flex;
  align-items: center;
}

.post-lineup img {
  border: 5px solid $color;
}
.post-top {
  display: flex;
  height: 5vh;
  align-items: center;
  margin-top: 10%;
  // border: 5px solid orange;
}

.caption {
  width: 20vw;
  margin-top: 0;
  background: $background;
  border: 5px solid $border;
  text-align: center;
  font-size: 19px;
}

.post-username {
  margin-top: 3 vh;
}
.post-page-maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-comment {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 10px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 2vh;
}
.add-fields {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.like-number-post {
  font-size: 20px;
  padding-left: 0;
  margin-top: 2.5vh;
  margin-left: 10px;
}
.user {
  margin-left: -110px;
  padding-right: 5px;
}

.posts {
  background: whitesmoke;
}

.posts-page-maps {
  background: yellow;
}

.post-page {
  background: rgba(172, 255, 47, 0.815);
}
