@import "../../variables.scss";

.formli {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $form-font;
  text-decoration: none;
  font-weight: 900;
  border: 2px solid $font-color;
  background: white;
  border-radius: 5px;
  padding-bottom: 1vh;
  padding-top: 1vh;
  width: 20vw;
  height: 47vh;
  opacity: 0.7;
}
@media only screen and (max-width: 800px) {
  .formli {
    height: 50%;
    width: 50%;
    text-align: center;
  }
  input {
    width: 20vw;
    margin-left: 2vw;
  }
}
.login-button {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 2vh;
  margin-top: 6vh;
}
@media only screen and (max-width: 800px) {
  .login-button {
    margin-top: 6vh;
    padding-bottom: 1vh;
  }
}

.login-border {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../../pics/coursezzz\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.login-form-border {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  height: 10vh;
  background: #000000;
}
