@import "../../variables.scss";

.profile-background {
  margin-top: -85px;
  width: 100vw;
  height: 150vh;
  background: url("../../pics/gc\ \(1\).png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -10;
}

.derek2 {
  // border: 1px solid rgb(110, 109, 109);
  opacity: 0;
  width: 100%;
}
.bump {
  text-align: center;
  // padding-top: 5vh;
  color: #006b54;
  // margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid $font-color;
  background: whitesmoke;
  opacity: 0.7;
  border-radius: 5px;
  width: 25vw;
  margin-left: 7vw;
}
@media only screen and (max-width: 800px) {
  .bump {
    height: 50%;
    width: 50%;
    font-size: 15px;
    margin-left: 12vw;
    background: whitesmoke;
  }
}
.users {
  width: 100vw;
  font-size: 25px;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.derek {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-button {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  text-decoration: none;
  padding-bottom: 1vh;
}

@media only screen and (max-width: 800px) {
  .edit-button {
    // margin-top: 3%;
    margin-top: 2vh;
  }
}

.mapped-profile {
  // display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  // border: 5px solid red;
}

.dereks-here {
  height: 55vh;
  width: 28vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #006b54;
  margin-top: 10px;
  background: whitesmoke;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .dereks-here {
    margin-top: 25vh;
    height: 50vh;
    width: 80%;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #006b54;
    background: whitesmoke;
    margin-left: 9vw;
  }
}

.profile-default {
  // padding-top: 6px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background: whitesmoke;
  height: 47vh;
  width: 25vw;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // right: 0;
  // left: 0;
  margin-top: 10vh;
  border-radius: 5px;
  opacity: 0.7;
  margin-left: 40%;
}
@media only screen and (max-width: 800px) {
  .profile-default {
    height: 35%;
    width: 80%;
    font-size: 13px;
    margin-top: 5vh;
    background: whitesmoke;
  }
}

.profile-form {
  // border: 5px solid red;
  display: flex;
  flex-direction: column;
  border: 5px solid #006b54;
  height: 50vh;
  width: 28vw;
  justify-content: center;
  align-items: center;
  margin-top: 88vh;
  font-size: 30px;
  position: absolute;
  right: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0.7;
  margin-left: 38vw;
}

@media only screen and (max-width: 800px) {
  .profile-form {
    height: 30%;
    width: 80%;
    // border: red 1px solid;
    font-size: 27px;
    margin-top: 82vh;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 9vw;
  }
}

.submit-button-edit {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  text-decoration: none;
  margin-top: 5.5%;
}
.profile-intro {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 6vh;
  background: #006b54;
  color: $yellow-font;
  border-bottom: 3px yellow solid;
  border-top: 3px yellow solid;
  margin-top: -25px;
}

.welcome-prof {
  margin-top: 1vh;
}
