@import "../src/variables.scss";

body {
  background-color: white;
  color: $font-color;
  font-family: $font-family;
  text-decoration: none;
}

nav {
  width: 100vw;
  background-color: white;
  margin-top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10vh;
  align-items: center;
  color: yellow;
  text-decoration: none;
  font-weight: 900;
  font-size: 19px;
  z-index: 2;
  a.nav {
    &:hover {
      border: 5px solid yellow;
    }
  }
}

.navbarTop {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 55vw;
  color: red;
  position: sticky;
}
.link {
  color: #ff0000;
  text-decoration: none;
}

.nav {
  color: $color;
  font-size: 24px;
  text-decoration: none;
  z-index: 2;
}

.signup-form {
  display: flex;
  border: 1px solid;
  flex-direction: column;
  height: 40vh;
  font-weight: 900;
}
.formsu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $form-font;
  text-decoration: none;
  font-weight: 900;
  padding-top: 12vh;
  border: 1px solid black;
  padding-bottom: 4vh;
  padding-top: 1vh;
  width: 27vw;
  border: 2px solid $font-color;
  border-radius: 5px;
  height: 48vh;
}

.buttonsu {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  text-decoration: none;
  margin-top: 1.5vh;
}

.mainheader {
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  font-family: $color;
  font-size: 35px;
  z-index: 2;
  color: $color;
}

.ballpic {
  height: 110px;
  width: 110px;
}
.formli {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $form-font;
  text-decoration: none;
  font-weight: 900;
  border: 2px solid $font-color;
  background: white;
  border-radius: 5px;
  padding-bottom: 1vh;
  padding-top: 1vh;
  width: 20vw;
  height: 47vh;
}
.upgrade {
  color: red($color: #000000);
  font-family: $font-family;
  font-size: 30px;
  padding-top: 7vh;
}
.home-component {
  color: $color;
  z-index: 8;
}

.trippic {
  height: 600px;
  align-content: center;

  display: flex;
  justify-content: center;
  padding-left: 27%;
  flex-direction: column;
}

link {
  text-decoration: none;
}
.root,
.app,
.map {
  height: 100%;
}

.state {
  width: 200px;
  float: left;
}

.map {
  margin-left: 200px;
}
.tee-menu {
  height: 120px;
  width: 120px;
  display: none;
  z-index: 2;
  margin-top: 0;
}

@media (max-width: 1000px) {
  .tee-menu {
    display: inline;
  }
  .nav {
    display: none;
  }
}
.top-menu- {
  width: 100vw;
  height: 17vh;
  position: absolute;
  top: 0px;
  display: none;
  color: white;
  text-align: center;
  padding-left: 70px;
  border: ipx solid black;
}
.top-menu-open {
  width: 100vw;
  height: 20vh;
  position: absolute;
  top: 0px;
  background: $color;
  animation: openMenu 1s;
  z-index: 0;
  color: white;
  padding-left: 180px;
  padding-top: 30px;
  font-size: 20px;
}
.top-menu-closed {
  animation: closeMenu 2s;
  width: 100vw;
  height: 20vh;
  position: absolute;
  top: 0px;
  background: $color;
  animation-fill-mode: forwards;
  display: none;
}
@keyframes openMenu {
  from {
    height: 0px;
  }
  to {
    height: 20vh;
  }
}
@keyframes closeMenu {
  from {
    height: 20vh;
  }
  to {
    height: 0px;
  }
}
h6 {
  border: #000000 1px;
}

.top-menu-list {
  display: flex;
  height: 20vh;
  width: 45vw;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.six {
  border: #000000 1px;
  text-decoration: none;
  color: white;
}

.add {
  display: flex;
  flex-direction: column;
  height: 3vh;
}

.input-add {
  width: 300px;
  height: 100px;
  font-family: $font-family;
  color: $font-color;
  font-weight: 900;
  font-size: $form-font;
}
.bump {
  text-align: center;
  padding-top: 5vh;
  color: gold;
}

.lineups {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}
.users {
  width: 100vw;
  font-size: 25px;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.lineups- {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 9vw;
}
.upg {
  display: none;
}

.post-page {
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
  padding-top: 15vh;
}
.post-lineup {
  display: flex;
  flex-direction: column;
}
.post-pic {
  display: flex;
  align-items: center;
}

.post-lineup img {
  border: 4px solid $color;
}
.home-posted-by- {
  // border: 1px solid red;
  width: 55%;
  display: flex;
  padding-top: 0;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}
// .user {
//   margin-right: 110px;
//   border: 1px solid red;
//   justify-content: center;
//   align-items: center;
//   display: flex;
// }
.comment {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart {
  margin-left: 12px;
}
// .comment-text {
//   display: flex;
//   padding-top: 0;
//   flex-direction: row;
//   justify-content: space-between;
//   align-content: flex-start;
//   align-items: center;
// }
.user-name {
  text-decoration: underline;
  font-size: 30px;
  font-weight: 900;
}
.user-text {
  font-weight: normal;
  padding-right: 30px;
}

.pp- {
  border-radius: 50%;
  border: 7px solid $font-color;
  width: 25px;
  height: 25px;
  margin-left: 25px;
}

.post-top {
  display: flex;
  height: 5vh;
  align-items: center;
  padding-top: 20px;
  // border: 5px solid orange;
}
.user {
  text-decoration: underline;
}

.post-comment-button {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
}
.search-feature {
  display: flex;
  width: 100vw;
  height: 7vh;
  align-items: center;
  flex-direction: column;
  padding-top: 15vw;
}
.search-input {
  width: 13vw;
  border-radius: 10px;
  border: 6px solid $font-color;
  outline: none;
}
.button-search {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1vh;
  outline: none;
}
.search-results {
  align-content: center;
  display: flex;
  justify-content: center;
}
.logout-button {
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
}
.nav- {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 13vh;
    align-items: center;
    color: yellow;
    text-decoration: none;
    font-weight: 900;
    font-size: 19px;
    z-index: 2;
    a.nav {
      &:hover {
        border: 5px solid yellow;
      }
    }
  }
}
.login-button {
  padding-top: 12vh;
  display: flex;
  justify-content: center;
  height: -0vh;
}

.protected-home {
  padding-top: 30vh;
}

.buttonsu-profile {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 2vh;
}

.lineups-profile {
  display: flex;
  height: 20vh;
  width: 45vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 7vw;
  flex-direction: column;
}
.profile-pic-input {
  border: 1px solid black;
}
.post-comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // margin-top: 7vh;
  width: 20vw;
  margin-left: 33vw;
  padding-top: 8vh;
}
.post-author {
  text-decoration: underline;
  font-weight: bolder;
}
.post-content {
  margin-left: 1vw;
  display: flex;
  flex-wrap: wrap;
  // text-orientation: upright;
  // width: 100vw;
  // line-height: 1em;
  // height: 3em;
  // text-overflow: ellipsis;
  // float: left;
  // word-wrap: initial;
  // trying to get the words to flow on one line first before going down
}
.post-heart {
  margin-left: 9vw;
}

.delete-link {
  margin-left: 3vw;
}
.post-emoji {
  width: 30vw;
  display: flex;
  flex-direction: row;
  border: #000000 10px;
  align-items: flex-start;
  margin-bottom: 2vh;
}
.post-page-lineup {
  display: flex;

  flex-direction: row;
}
.post-comment {
  margin-left: 1vw;
}
.post-comment-number {
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.edit-pencil {
  width: 28px;
}

.home-course {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 11vw;
  display: flex;
}
.logo-log {
  // width: 11vw;
  // margin-left: 1vw;
  // margin-top: 10vh;
  width: 100px;
  height: 100px;
  margin-left: 1vw;
  margin-top: 3vh;
}

// .login-page {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .login-parent {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   width: 100vw;
//   flex-wrap: wrap;
//   border: #000000 1px solid;

//   justify-content: space-evenly;
// }

// .login-logo {
//   width: 100px;
// }

.login-border {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../src/pics/coursezzz\ \(1\).png");
}
.login-form-border {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  height: 10vh;
  background: #000000;
}
form {
  width: 16vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  background: white;

  align-items: center;
}

.login-button {
  margin-bottom: 100px;
  border: 2px solid red;
  outline: none;
}
.signup-border {
  // background-image: url("../src/pics/coursezzz\ \(1\).png");
  height: 100vh;
}
.signup-page {
  display: flexbox;
  justify-content: center;
  border: 10px solid black;
}
.sign {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-form {
  display: flex;
  border: 10px solid;
  margin-right: 52vw;
  margin-top: 0;
  flex-direction: column;
  font-size: 13px;
  border: 1px solid black;
  background: whitesmoke;
  height: 50vh;
  width: 25vw;
  justify-content: center;
  align-items: center;
}

.profile-change-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47vw;
}
.big-profile-div {
  height: 100vh;
  background: url("./pics/gc\ \(1\).png");
  background-size: cover;
}

.profile-default {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border: 1px solid black;
  background: whitesmoke;
  height: 50vh;
  width: 25vw;
  justify-content: center;
  align-items: center;
  margin-right: 55vw;
  margin-top: 5vh;
}
