@import "../src/variables.scss";

body {
  background-color: white;
  color: $font-color;
  font-family: $font-family;
  text-decoration: none;
}

nav {
  width: 100vw;
  background-color: white;
  margin-top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10vh;
  align-items: center;
  color: yellow;
  text-decoration: none;
  font-weight: 900;
  font-size: 9px;
  z-index: 2;
  a.nav {
    &:hover {
      border: 5px solid yellow;
    }
  }
}
a.nav {
  font-size: 18px;
}
.navbarTop {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  width: 55vw;
  color: red;
  position: sticky;
}
.link {
  color: #ff0000;
  text-decoration: none;
}

.nav {
  color: $color;
  font-size: 24px;
  text-decoration: none;
  z-index: 2;
}

.signup-form {
  display: flex;
  border: 1px solid;
  flex-direction: column;
  height: 40vh;
  font-weight: 900;
}

.mainheader {
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: flex-start;
  height: 10vh;
  font-family: $color;
  font-size: 35px;
  z-index: 2;
  color: $color;
}

.ballpic {
  height: 110px;
  width: 110px;
}

.home-component {
  color: $color;
  z-index: 8;
}

.trippic {
  height: 600px;
  align-content: center;

  display: flex;
  justify-content: center;
  padding-left: 27%;
  flex-direction: column;
}

link {
  text-decoration: none;
}
.root,
.app,
.map {
  height: 100%;
}

.state {
  width: 200px;
  float: left;
}

.map {
  margin-left: 200px;
}
.tee-menu {
  height: 120px;
  width: 120px;
  display: none;
  z-index: 2;
  margin-top: 0;
}

@media (max-width: 1000px) {
  .tee-menu {
    display: inline;
  }
  .nav {
    display: none;
  }
}
.top-menu- {
  width: 100vw;
  height: 14vh;
  position: absolute;
  top: 0px;
  display: none;
  color: white;
  text-align: center;
  padding-left: 70px;
  border: ipx solid black;
}
.top-menu-open {
  width: 100vw;
  height: 14vh;
  position: absolute;
  top: 0px;
  background: $color;
  animation: openMenu 1s;
  z-index: 0;
  color: white;
  padding-left: 180px;
  padding-top: 30px;
  font-size: 20px;
}
.top-menu-closed {
  animation: closeMenu 2s;
  width: 100vw;
  height: 20vh;
  position: absolute;
  top: 0px;
  background: $color;
  animation-fill-mode: forwards;
  display: none;
}
@keyframes openMenu {
  from {
    height: 0px;
  }
  to {
    height: 14vh;
  }
}
@keyframes closeMenu {
  from {
    height: 14vh;
  }
  to {
    height: 0px;
  }
}
h6 {
  border: #000000 1px;
}

.top-menu-list {
  display: flex;
  height: 14vh;
  width: 45vw;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.six {
  border: #000000 1px;
  text-decoration: none;
  color: white;
}

.search-results {
  align-content: center;
  display: flex;
  justify-content: center;
}

.lineups {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}

.lineups- {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 12vw;
}

.home-posted-by- {
  // border: 1px solid red;
  width: 55%;
  display: flex;
  padding-top: 0;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}
// .user {
//   margin-right: 110px;
//   border: 1px solid red;
//   justify-content: center;
//   align-items: center;
//   display: flex;
// }
.comment {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart {
  margin-left: 12px;
}
// .comment-text {
//   display: flex;
//   padding-top: 0;
//   flex-direction: row;
//   justify-content: space-between;
//   align-content: flex-start;
//   align-items: center;
// }
.user-name {
  text-decoration: underline;
  font-size: 30px;
  font-weight: 900;
}
.user-text {
  font-weight: normal;
  padding-right: 30px;
}

.pp- {
  border-radius: 50%;
  border: 7px solid $font-color;
  width: 25px;
  height: 25px;
  margin-left: 25px;
}

.user {
  text-decoration: underline;
}

.logout-button {
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
}
.nav- {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 13vh;
    align-items: center;
    color: yellow;
    text-decoration: none;
    font-weight: 900;
    font-size: 19px;
    z-index: 2;
    a.nav {
      &:hover {
        border: 5px solid yellow;
      }
    }
  }
}

.protected-home {
  // padding-top: 30vh;
}

.buttonsu-profile {
  color: $color;
  background: none;
  background-color: yellow;
  font-size: 17px;
  color: $color;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 2vh;
}

.lineups-profile {
  display: flex;
  height: 20vh;
  width: 45vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 7vw;
  flex-direction: column;
}
.profile-pic-input {
  border: 1px solid black;
}

.delete-link {
  margin-left: 3vw;
}

.home-course {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
}

form {
  width: 16vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  background: white;

  align-items: center;
}

.big-profile-div {
  height: 100vh;
  // background: url("./pics/gc\ \(1\).png");
  background-size: cover;
}

.king-derek {
  // display: flex;
  // flex-wrap: wrap;
  border: 1px solid red;
}
