$color: #006b54;
$font-color: #006b54;
$font-family: "Monoton", cursive;
$form-font: 13px;
$yellow-font: #fee715;

// <div className="lineups-profile">
// <h1 className="bump">
//   {" "}
//   Welcome to {this.props.auth.username}'s' page{" "}
// </h1>

// <img src={this.props.auth.pp} className="pp" />
// <div>{mappedProfile}</div>

// </div>
// );
